*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading h1{
 font-size:4rem;
 padding:20px;   
}
.menu{
    display: flex;
    flex-wrap: wrap;
    width:60%;
    justify-content: space-between;
    align-content: space-between;
}
.shoes{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 7px 7px 10px rgb(201, 201, 201);
    margin:15px 0;
    border-radius: 25px;
    padding:10px;
}
.shoe-img{
        height: 390px;
    width: 100%;
        overflow:hidden;
            border-radius: 25px;
}
.shoe-img img{
    border-radius: 25px;
    height:100%;
    width:100%;
    object-fit: cover;
}
.shoe-img img:hover{
    scale: 1.2;
    transition:all 0.5s ease;
}
.details{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:5px;
    margin:15px 0;
    align-items: center;
}
.content{
    display: flex;
    gap:5px;
    flex-direction: column;
    justify-content: space-between;
    
}
.cart img{
    width:80%;
    height: 75%;
}